#game {
	height: 560px;
	left: 50%;
	margin-top: -280px;
	margin-left: -450px;
	position: fixed;
	top: 50%;
	width: 900px;

	#table {
		height: 560px;
		width: 660px;
		float: left;
		.row {
			height: 140px;
		}

		.card {
			background-color: $light-blue;
			display: inline-block;
			float: left;
			margin: 10px;
			height: 120px;
			width: 90px;

			.card-back {
				visibility: hidden;
				width: 80px;
				margin: 20px auto;
			}

			&.cleared {
				background-color: $light-grey;
			}
		}

		.card:last-child:after {
			clear: both;
		}
	}

	#sidebar {
		@include border-radius(12px);

		background-color: $grey;
		float: left;
		min-height: 120px;
		margin: 10px;
		width: 220px;

		.card-desc {
			font-size: 1.5em;
			width: 200px;
			margin: 10px auto;
		}

		.success, .fail {
			font-size: 2em;
			font-weight: 300;
			margin: 10px auto;
			text-align: center;
			width: 200px;
			&:after {
				content: "(click to continue)";
				display: block;
				font-size: 12px;
				color: black;
			}
		}

		.success {
			color: $green;
		}
		.fail {
			color: $red;
		}
	}
}