#game {
	height: 560px;
	left: 50%;
	margin-top: -280px;
	margin-left: -450px;
	position: fixed;
	top: 50%;
	width: 900px;

	#table {
		float: left;
		.row {
			height: 140px;
		}

		.card {
			background-color: $light-blue;
			display: inline-block;
			float: left;
			margin: 10px;
			height: 120px;
			width: 90px;

			.card-back {
				visibility: hidden;
			}

			&.cleared {
				background-color: $light-grey;
			}
		}

		.card:last-child:after {
			clear: both;
		}
	}

	#sidebar {
		@include border-radius(12px);

		background-color: $grey;
		float: left;
		margin: 10px;
		min-height: 420px;
		width: 220px;
	}
}