.row {
	height: 140px;
}

.card {
	background-color: $light-blue;
	display: inline-block;
	float: left;
	margin: 10px;
	height: 120px;
	width: 90px;

	.card-back {
		visibility: hidden;
	}
}

.card:last-child:after {
	clear: both;
	}