#game {
	height: 560px;
	left: 50%;
	margin-top: -280px;
	margin-left: -450px;
	position: fixed;
	top: 50%;
	width: 900px;

	#table {
		float: left;
		height: 560px;
		width: 660px;

		#loading-text {
			margin: 200px auto;
			width: 50%;
		}

		.row {
			height: 140px;
		}

		.card {
			background-color: $light-blue;
			display: inline-block;
			float: left;
			margin: 10px;
			height: 120px;
			width: 90px;

			.card-back {
				visibility: hidden;
				width: 80px;
				margin: 20px auto;
			}

			&.cleared {
				background-color: $light-grey;
			}
		}

		.card:last-child:after {
			clear: both;
		}
	}

	#sidebar {
		@include border-radius(12px);

		background-color: $grey;
		float: left;
		min-height: 420px;
		margin: 10px;
		width: 220px;

		.card-desc {
			width: 200px;
			margin: 10px auto;

			img {
				width: 150px;
				height: 150px;
			}
		}
	}
}