.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);

	.modal {
		@include border-radius(24px);

		color: $white;
		position: fixed;
		top: 50%;
		left: 50%;
		width: 600px;
		height: 400px;
		margin-left: -300px;
		margin-top: -200px;
		background-color: $blue;

		h1, h2, h4, h5 {
			text-align: center;
		}

		h4, h3 {
			color: $yellow;
		}

		h5 {
			color: $light-grey;
			margin: .5em 0;
		}

		#loginButton {
			display: block;
			margin: 0 auto;
		}

		#play-again {
			display: block;
			margin: 20px auto;
		}
	}
}
