@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

body {
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-size: 3em;
	font-weight: 200;
	margin: .8em 0;
}

h3 {
	font-size: 2.5em;
}

h4 {
	font-size: 1.2em;
	font-weight: 300;
	margin: .2em 0;
}