/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-image: url("/images/pw_pattern/pw_pattern.png"); }

.button {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background-color: #1bbc9b;
  height: 20px;
  padding: 10px;
  text-align: center;
  width: 200px; }
  .button:hover {
    background-color: #36d7b7; }

body {
  font-family: 'Lato', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 3em;
  font-weight: 200;
  margin: .8em 0; }

h2 {
  font-size: 2.5em;
  font-weight: 300;
  margin: .8em 0; }

h3 {
  font-size: 2em;
  font-weight: 200; }

h4 {
  font-size: 1.2em;
  font-weight: 300;
  margin: .2em 1em; }

b {
  font-weight: 400; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); }
  .overlay .modal {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 400px;
    margin-left: -300px;
    margin-top: -200px;
    background-color: #4183d7; }
    .overlay .modal h1, .overlay .modal h2, .overlay .modal h3, .overlay .modal h4, .overlay .modal h5 {
      text-align: center; }
    .overlay .modal h4, .overlay .modal h3 {
      color: #f5d76e;
      line-height: 1.3;
      padding: 0 70px; }
    .overlay .modal h5 {
      color: #e2e2e2;
      margin: .5em 0; }
    .overlay .modal #loginButton {
      display: block;
      margin: 2em auto; }
    .overlay .modal #play-again {
      display: block;
      margin: 20px auto; }

#banner #banner-match, #banner #banner-nomatch {
  display: none;
  left: 50%;
  margin-left: -190px;
  position: fixed;
  top: 50%;
  z-index: 11; }
#banner #banner-match {
  color: #1e824c;
  font-size: 3em; }
#banner #banner-nomatch {
  color: #d64541;
  font-size: 2.5em; }

#game {
  height: 560px;
  left: 50%;
  margin-top: -280px;
  margin-left: -450px;
  position: fixed;
  top: 50%;
  width: 900px; }
  #game #table {
    height: 560px;
    width: 660px;
    float: left;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */ }
    #game #table .card-container {
      -webkit-perspective: 1000;
      -moz-perspective: 1000;
      perspective: 1000;
      display: inline-block;
      float: left;
      height: 120px;
      width: 90px;
      margin: 10px; }
    #game #table .row {
      height: 140px; }
    #game #table .card {
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transition: -webkit-transform 0.5s;
      -moz-transition: -moz-transform 0.5s;
      transition: transform 0.5s;
      height: 120px;
      width: 90px; }
      #game #table .card .card-back {
        background-color: #81cfe0;
        width: 90px;
        height: 100px;
        padding: 10px 0;
        text-align: center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg); }
      #game #table .card .card-front {
        position: absolute;
        width: 90px;
        height: 120px;
        background-color: #81cfe0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden; }
      #game #table .card.flipped {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg); }
      #game #table .card.cleared {
        background-color: #e2e2e2; }
    #game #table .card:last-child:after {
      clear: both; }
  #game #sidebar {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #bdc3c7;
    float: left;
    min-height: 120px;
    margin: 10px;
    width: 220px; }
    #game #sidebar #score {
      font-size: 1.3em;
      font-weight: 300;
      margin: 10px auto;
      text-align: center;
      width: 200px; }
      #game #sidebar #score:before {
        content: "SCORE: "; }
    #game #sidebar .card-desc {
      font-size: 1.5em;
      width: 200px;
      margin: 10px auto; }
    #game #sidebar .success, #game #sidebar .fail {
      font-size: 2em;
      font-weight: 300;
      margin: 10px auto;
      text-align: center;
      width: 200px; }
      #game #sidebar .success:after, #game #sidebar .fail:after {
        content: "(click to continue)";
        display: block;
        font-size: 12px;
        color: black; }
    #game #sidebar .success {
      color: #1e824c; }
    #game #sidebar .fail {
      color: #d64541; }
  #game #more-info {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #a2ded0;
    float: left;
    height: 310px;
    margin: 10px;
    width: 220px;
    font-weight: 300;
    text-align: center; }
    #game #more-info #high-score {
      font-size: 1.2em;
      margin: 10px auto;
      width: 200px; }
      #game #more-info #high-score:before {
        content: "HIGH SCORE: "; }
    #game #more-info #contact {
      color: #657b83;
      font-size: 14px;
      width: 200px;
      margin: 10px auto; }
      #game #more-info #contact a {
        color: #657b83; }
    #game #more-info #instructions {
      width: 200px;
      margin: 10px auto; }
    #game #more-info hr {
      border-bottom: 0px;
      border-style: solid;
      border-color: #657b83;
      margin: 1.5em; }

#floatingBarsG {
  position: relative;
  width: 16px;
  height: 20px;
  margin: auto; }

.blockG {
  position: absolute;
  background-color: #FFFFFF;
  width: 3px;
  height: 6px;
  -moz-border-radius: 3px 3px 0 0;
  -moz-transform: scale(0.4);
  -moz-animation-name: fadeG;
  -moz-animation-duration: 1.04s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-border-radius: 3px 3px 0 0;
  -webkit-transform: scale(0.4);
  -webkit-animation-name: fadeG;
  -webkit-animation-duration: 1.04s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -ms-border-radius: 3px 3px 0 0;
  -ms-transform: scale(0.4);
  -ms-animation-name: fadeG;
  -ms-animation-duration: 1.04s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -o-border-radius: 3px 3px 0 0;
  -o-transform: scale(0.4);
  -o-animation-name: fadeG;
  -o-animation-duration: 1.04s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  border-radius: 3px 3px 0 0;
  transform: scale(0.4);
  animation-name: fadeG;
  animation-duration: 1.04s;
  animation-iteration-count: infinite;
  animation-direction: linear; }

#rotateG_01 {
  left: 0;
  top: 7px;
  -moz-animation-delay: 0.39s;
  -moz-transform: rotate(-90deg);
  -webkit-animation-delay: 0.39s;
  -webkit-transform: rotate(-90deg);
  -ms-animation-delay: 0.39s;
  -ms-transform: rotate(-90deg);
  -o-animation-delay: 0.39s;
  -o-transform: rotate(-90deg);
  animation-delay: 0.39s;
  transform: rotate(-90deg); }

#rotateG_02 {
  left: 2px;
  top: 3px;
  -moz-animation-delay: 0.52s;
  -moz-transform: rotate(-45deg);
  -webkit-animation-delay: 0.52s;
  -webkit-transform: rotate(-45deg);
  -ms-animation-delay: 0.52s;
  -ms-transform: rotate(-45deg);
  -o-animation-delay: 0.52s;
  -o-transform: rotate(-45deg);
  animation-delay: 0.52s;
  transform: rotate(-45deg); }

#rotateG_03 {
  left: 7px;
  top: 1px;
  -moz-animation-delay: 0.65s;
  -moz-transform: rotate(0deg);
  -webkit-animation-delay: 0.65s;
  -webkit-transform: rotate(0deg);
  -ms-animation-delay: 0.65s;
  -ms-transform: rotate(0deg);
  -o-animation-delay: 0.65s;
  -o-transform: rotate(0deg);
  animation-delay: 0.65s;
  transform: rotate(0deg); }

#rotateG_04 {
  right: 2px;
  top: 3px;
  -moz-animation-delay: 0.78s;
  -moz-transform: rotate(45deg);
  -webkit-animation-delay: 0.78s;
  -webkit-transform: rotate(45deg);
  -ms-animation-delay: 0.78s;
  -ms-transform: rotate(45deg);
  -o-animation-delay: 0.78s;
  -o-transform: rotate(45deg);
  animation-delay: 0.78s;
  transform: rotate(45deg); }

#rotateG_05 {
  right: 0;
  top: 7px;
  -moz-animation-delay: 0.9099999999999999s;
  -moz-transform: rotate(90deg);
  -webkit-animation-delay: 0.9099999999999999s;
  -webkit-transform: rotate(90deg);
  -ms-animation-delay: 0.9099999999999999s;
  -ms-transform: rotate(90deg);
  -o-animation-delay: 0.9099999999999999s;
  -o-transform: rotate(90deg);
  animation-delay: 0.9099999999999999s;
  transform: rotate(90deg); }

#rotateG_06 {
  right: 2px;
  bottom: 2px;
  -moz-animation-delay: 1.04s;
  -moz-transform: rotate(135deg);
  -webkit-animation-delay: 1.04s;
  -webkit-transform: rotate(135deg);
  -ms-animation-delay: 1.04s;
  -ms-transform: rotate(135deg);
  -o-animation-delay: 1.04s;
  -o-transform: rotate(135deg);
  animation-delay: 1.04s;
  transform: rotate(135deg); }

#rotateG_07 {
  bottom: 0;
  left: 7px;
  -moz-animation-delay: 1.1700000000000002s;
  -moz-transform: rotate(180deg);
  -webkit-animation-delay: 1.1700000000000002s;
  -webkit-transform: rotate(180deg);
  -ms-animation-delay: 1.1700000000000002s;
  -ms-transform: rotate(180deg);
  -o-animation-delay: 1.1700000000000002s;
  -o-transform: rotate(180deg);
  animation-delay: 1.1700000000000002s;
  transform: rotate(180deg); }

#rotateG_08 {
  left: 2px;
  bottom: 2px;
  -moz-animation-delay: 1.3s;
  -moz-transform: rotate(-135deg);
  -webkit-animation-delay: 1.3s;
  -webkit-transform: rotate(-135deg);
  -ms-animation-delay: 1.3s;
  -ms-transform: rotate(-135deg);
  -o-animation-delay: 1.3s;
  -o-transform: rotate(-135deg);
  animation-delay: 1.3s;
  transform: rotate(-135deg); }

@-moz-keyframes fadeG {
  0% {
    background-color: #4183d7; }

  100% {
    background-color: #FFFFFF; } }
@-webkit-keyframes fadeG {
  0% {
    background-color: #4183d7; }

  100% {
    background-color: #FFFFFF; } }
@-ms-keyframes fadeG {
  0% {
    background-color: #4183d7; }

  100% {
    background-color: #FFFFFF; } }
@-o-keyframes fadeG {
  0% {
    background-color: #4183d7; }

  100% {
    background-color: #FFFFFF; } }
@keyframes fadeG {
  0% {
    background-color: #4183d7; }

  100% {
    background-color: #FFFFFF; } }
